/***********/
@media screen and (min-width:600px) {
    main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 10px;
        margin: 10px;
    }
    main .linear{
        display: grid;
        grid-row-end:span 3;
    }
    
main .conic2 {
    display: grid;
    grid-column-end: span 2;
}
}