/**********/
@media screen and (max-width:599px){
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
        margin: 15px;
    }
}